    
    <div class="tableList">
      <% if(tableName == 'students'){ %> 
        <h2>Välj en stundent/rad för kursinformation</h2>
        <p>Eller välj knapp under "Actions" för att redigera/ta bort hela raden</p>
      <% } %> 

      <% if(tableName == 'courses'){ %> 
        <h2>Välj en kurs för info om vem som går i den kursen</h2>
      <% } %> 


      <form id="dataForm" action="/" method="POST">
        <% if(typeof dbData != 'undefined'){ %> 
        <table class="databaseTable">
          <thead>
            <tr>
              <% for (let header of Object.keys(dbData[0]) ) { %> 
                <th><h3><%= header; %></h3></th>
              <% } %> 
              <th colspan="2" class="actions"><h3>Actions</h3></th>
            </tr>
          </thead>
          
          <tbody>
            <% for (const row of dbData ){%>
               <!-- STUDENT LIST -->  
              <% if(tableName == 'students'){ %> 
                <% const studentId = row.id; %>
                <% const fname = row.fName; %>
                <% const lname = row.lName; %>
                <% const town = row.town; %>
                <% const queryParams = `id=${studentId}&fname=${fname}&lname=${lname}&town=${town}`; %>
                <% const queryParamsEdit = `id=${studentId}`; %>
                <% for (const [key, value] of Object.entries(row)) { %>
                  <td>
                    <a href="/student?<%= queryParams %>"><%= value %></a>
                  </td>
                <% } %> 
              <% } %> 

              <!-- COURSES LIST -->  
              <% if(tableName == 'courses'){ %> 
                <% const courseID = row.id; %>
                <% const courseName = row.name; %>
                <% const desc = row.description; %>
                <% const queryParams = `id=${courseID}&name=${courseName}`; %>
                <% for (const [key, value] of Object.entries(row)) { %>
                  <td>
                    <a href="/course?<%= queryParams %>"><%= value %></a>
                  </td>
                <% } %> 
              <% } %> 

   
              <!-- STUDENT_COURSES LIST -->     
              <% if(tableName == 'students_courses'){ %>
                <% for (const [key, value] of Object.entries(row)) { %>
                  <td>
                    <%= value %>
                  </td>
                <% } %> 
              <% } %> 
        
              <% if(Object.values(row).length>0){ %>
              <!-- EDIT -->  
              <td>
                <% const queryParamsEdit = `id=${row.id}&table=${tableName}`; %>
                <button><a href="/editData?<%= queryParamsEdit %>">Edit row</a></button>
              </td>  
              
              <!-- DELETE --> 
              <td>
                <button type="submit" id="delRowBtn" name="delRowBtn" value="<%= tableName; %>,<%= row.id; %>">Delete row</button>
              </td> 
              <% }; %> 
           
            </tr>


            <% }; %> 
            <tr>
              <th colspan="6">
                 <%= pageTitle; %>
              </th>
            </tr>
          </tbody>
        </table>
      </form>
      <% }; %>
    </div>