
<h2>Välj förnamn, efternamn eller stad för mer info</h2>
<p>Varje parameter är en länk för alla med den parametern gemensamt</p>


<% if (typeof dbData !== 'undefined' && dbData.length > 0) { %> 
<table class="databaseTableParam">
  <thead>
    <tr>
      <% for (let header of Object.keys(dbData[0])) { %> 
        <th><h3><%= header %></h3></th>
      <% } %> 
    </tr>
  </thead>
  <tbody>
    <% for (const row of dbData) { %>
      <tr>
        <% for (const [key, value] of Object.entries(row)) { %>
          <td>
            <% if (key === 'id') { %>
              <a href="/students/<%= value %>/courses"><%= value %></a>
            <% } else { %>
              <a href="/students/<%= key %>/<%= value %>/courses"><%= value %></a>
            <% } %>
          </td>
        <% } %>
      </tr>
    <% } %> 
  </tbody>
</table>
<% } else { %>
  <p>No data available.</p>
<% } %>

<hr>




<div class="tableList">
  <h2>Välj en student för info om vilka kurser hen går</h2>
  <p>Samma funktionalitet som startsidan</p>
  <% if(typeof dbData != 'undefined'){ %> 


<form id="dataForm" action="/students" method="POST"> 

  <table class="databaseTable studenttable">
    <thead>
      <tr>
        <% for (let header of Object.keys(dbData[0]) ) { %> 
          <th><h3><%= header; %></h3></th>
        <% } %> 
      </tr>
    </thead>
    <tbody>
      <% for (const row of dbData ){%>
      <tr>
        <% const studentId = row.id; %>
        <% const fname = row.fName; %>
        <% const lname = row.lName; %>
        <% const town = row.town; %>
        <% const queryParams = `id=${studentId}&fname=${fname}&lname=${lname}&town=${town}`; %>
        <% for (const [key, value] of Object.entries(row)) { %>
        <td>
          <a href="/students/<%= row.id %>/courses"><%= value %></a>
        </td>
        <% } %> 


        <!-- EDIT -->       
        <td>
          <% const table = "students"; %>
          <% const queryParamsEdit = `id=${row.id}&table=${table}`; %>
          <button><a href="/editData?<%= queryParamsEdit %>">Edit row</a></button>
        </td> 
        <!-- DELETE --> 
        <td>
          <button type="submit" id="delRowBtn" name="delRowBtn" value="<%= table; %>,<%= row.id; %>">Delete row</button>
        </td> 

      </tr>
      <% }; %> 
    </tbody>
  </table>
  <% }; %>
</form> 
</div>








