<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Kursinfo</h1>
    
     <div class="tableList">
        <table class="databaseTable">
          <thead>
            <tr>
              <th colspan="3"><h2>Följande studenter går i <%= pageTitle; %> </h2></th>
            </tr>
          </thead>
          <% if(typeof dbData != 'undefined'){ %> 
          <tbody>
            <% for (const row of dbData ){%>
            <tr>
              <% for (const value of Object.values(row) ){%>
              <td><%= value; %></td>
              <% } %> 
            </tr>
            <% }; %> 
          </tbody>
        </table>
        <% }; %>
     </div>




  </main>  
  <%- include('partials/footer') %>