<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Info om vilka kurser alla studenter som bor i staden x</h1>
    <h1>Alla studenter - <%= pageTitle; %>  </h1>
    <h2>Dessa studenter går i följande kurser:</h2>

     <div class="tableList">
        <% if(typeof dbData != 'undefined'){ %> 
        <table class="databaseTable">
          <tbody>
            <% for (const row of dbData ){%>
            <tr>
              <% for (const value of Object.values(row) ){%>
              <td><%= value; %></td>
              <% } %> 
            </tr>
            <% }; %> 
          </tbody>
        </table>
        <% }; %>
     </div>

  </main>  
  <%- include('partials/footer') %>