<%- include('partials/head') %>
<body>
  <%- include('partials/headerNav') %>
  <main>

    <h1>Kursinfo om student</h1>

     <div class="tableList">  
        <table class="databaseTable">
          <thead>
            <tr>
              <th><h2>Student</h2></th>
              <th><h2>Kurser: </h2></th>
            </tr>
          </thead>
          <tbody>
          <% if(typeof dbData != 'undefined'){ %> 
            <tr>
              <% for (const row of dbData2 ){%>
              <td>
                <% for (const value of Object.values(row) ){%>
                  <%= value; %>
                <% } %> 
              </td>
              <td>
                <ul>
                  <% for (const row of dbData ){%>
                    <% for (const value of Object.values(row) ){%>
                      <li><%= value; %></li>
                    <% } %> 
                  <% }; %> 
                </ul>
              </td>
            </tr>
           <% } %> 
          </tbody>
        </table>
        <% }; %>
     </div>

  </main>  
  <%- include('partials/footer') %>